requests
beautifulsoup4
lxml
celery
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
alembic
python-slugify
redis
fastapi
uvicorn[standard]
python-multipart
pillow
pillow-avif-plugin
langchain
langchain-google-genai
langchain-anthropic
langchain-tavily